/* .navbar-collapse {
    padding-left:30px;
} */

/* #logo {
    margin-left: 30px;
} */

h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif; 
}

.header {
  background-image: url("./assets/main-bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
    opacity: 0.7;
    color: white;
}

.header h1 {
    margin-top: 15%;
    text-align: center;
    /* font-weight: bold; */
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 3px;
}

.header p {
    margin-top: 20px;
    text-align: center;
    /* font-size: 1.3rem; */
    letter-spacing: 1px;
}

.button {
  background-color: #fab13e;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
  }
  
  .centerButton {
    width: 20%;
    margin: 50px auto;
  }
  
  .theStory {
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin-top: 20vh;
    padding-top: 25vh;
  }
  
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid white;
    margin: auto;
    margin-top: -10px;
    /* padding-bottom: 50px; */
  }

  .secondSection {
      background-image: url("./assets/the-games-bg.jpg");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
  }
  
  .secondSection h3 {
    /* margin-top: 50%; */
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
    padding-top: 20vh;
    padding-left: 8vw;
    font-size: 1.5rem;
  }

  .secondSection h2 {
    /* font-family: Bebas Neue; */
    font-weight: lighter;
    font-size: 4rem;
    letter-spacing: 3px;
    color: white;
    padding-left: 8vw;
    display: inline-block;
    margin: auto;
    float: left;
  }

  .carousel {
    width: 60%;
    height: 420px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 100px;
  }

  .thirdSection {
    background-image: url(./assets/features.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.what-special2 {
    /* margin-top: 50%; */
    font-family: 'Open Sans';
    padding-top: 25vh;
    padding-left: 55vw;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
  }

  .features {
    font-size: 3rem;
    padding-left: 55vw;
    font-weight: normal;
    letter-spacing: 3px;
  }

  .accordion {
    width: 400px;
    margin-left: 55vw;
    padding-bottom: 80px;
  }
  
  .fourthSection {
    background-image: url(./assets/requirements.png);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
    .can-my-computer {
      padding-top: 15vh;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
    }
  
  .fourthSection h1 {
    margin-left: 10vw;
    font-weight: normal;
    font-size: 4rem;
    letter-spacing: 3px;
  }
  
  .system-table {
    margin-left: 10vw;
  }

  table, td {
    border: 0.01px solid;
    border-color: rgb(80, 80, 80);
  }

  td {
    width: 300px;
    height: 100px;
    padding-left: 10px;
  }

  .system-title {
    color: orange;
  }

  .fivthSection {
    background-image: url(./assets/top-score-bg.png);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .top-scores {
    padding-top: 24vh;
    padding-left: 10vw;
    font-weight: lighter;
    /* display: inline-block; */
  }

  .top-scores-text {
    padding-left: 10vw;
    width: 20vw;
    word-wrap: break-word;
    /* display: inline-block; */
  }

  .see-more-button {
    margin-left: 10vw;
    width: 200px;
    /* display: inline-flex; */
  }

  .card {
    width: 500px;
    height: 200px;
    margin: 10px 30px;
    background-color: rgb(67, 67, 67);
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .img-fluid {
    border-radius: 50%;
    width: 50px;
    margin: 20px 20px;
    float: left;
    /* display: inline; */
  }

  .class-container {
    float: right;
    /* display: inline; */
  }

  .lastSection {
    background-color: #0d0a09;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 34% 64%;
    grid-template-rows: auto auto auto auto auto auto auto;
    width: 90%;
    margin: 0 auto;
    padding-top: 15vh;
    column-gap: 150px;
    height: 700px;
    padding-right: 100px;
    /* border: 1px solid white; */
  }

  .item1 {
    grid-row: 1 / 6;
    height: 650px;
    padding: 40px 0 0 6vw;
  }

  .item2 {
    grid-column-start: 2;
    padding: 100px 0 0 0;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .item3 {
    grid-column-start: 2;
    font-weight: normal;
    letter-spacing: 3px;
  }

  .item4 {
    grid-column-start: 2;
    font-size: 1rem;
  }

  .item5 {
    grid-column-start: 2;
  }

  .item6 {
    grid-column-start: 2;
    margin-bottom: 30px;
  }


  .email {
    display: inline;
    background-color:rgb(39, 38, 38);
    color: rgb(241, 241, 241);
    height: 50px;
    width: 300px;
    padding-left: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .subscribe-button {
    display: inline;
    background-color: #fab13e;
    padding: 13px 60px;
    border-radius: 5px;
    margin-left: 3px;
    justify-items: center;
    color: black;
    font-weight: bold;
  }

  .nav-bottom {
    margin: 150px auto 0 25vw;
    width: 80%;
  }
  .nav-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav-bottom li {
    float: left;
    display: block;
    text-align: center;
    padding: 24px;
    
  }

  .bottom-line {
    width: 80%;
    border-bottom: 1px solid gray;
    margin: auto auto;
  }

  .footer-text {
    margin: 20px auto;
    width: 80%;
    color: gray;
  }

  .right-bold {
    font-weight: bold;
    float: right;
    color: white;
  }